{% extends 'base.html' %}
{% block script %}
    <script type="text/javascript">
        $(document).ready( function () {
            $('#tweets-table').DataTable();
        } );
    </script>
</head>
{% endblock %}
{% block main %}

    <nav class="navbar navbar-dark bg-dark sticky-top">
      <a class="navbar-brand" style="padding:0 3%" href="/">
        Twitter Sentiment analysis
      </a>
    </nav>

     <div style="width:80%; margin:3% auto; background-color:#F9F9F9; padding:2%">
        <table id="tweets-table" class="cell-border display">
            <thead>
            <tr>
                <th scope="col">Tweet</th>
                <th scope="col">Sentiment</th>
            </tr>
            </thead>
            <tbody>
            {% for tweets in tweets_sentiments %}
            <tr>
                <td>{{ tweets[0]|safe }}</td>
                <td>{{ tweets[1]|safe }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
     </div>
{% endblock %}